<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore role:require="Standalone or ContentManagement">
    <commands>
      <command name="item:pathlogger" type="ItemPathLogger.ItemPathLogger,ItemPathLogger" />
    </commands>
    <settings>
      <setting name="itemLogFolder" value="itemLog"/>
      <setting name="itemLogFileName" value="itemsUpdated"/>
    </settings>
  </sitecore>
</configuration>